:root {
  --backgroundColor: $_backgroundColor_$;
  --backgroundOpacity: $_backgroundOpacity_$;
  --iconOpacity: $_iconOpacity_$;
  
  --headingFont: '$_headingFont_$', sans-serif;
  --headingFontWeight: $_headingFontWeight_$;
  --headingFontSize: $_headingFontSize_$px;
  --headingColor: $_headingColor_$;

  --maxImageWidth: $_maxImageWidth_$px;
  --maxImageHeight: $_maxImageHeight_$px;

  --maxTextBoxWidth: $_maxTextBoxWidth_$px;
  --textBoxHeight: $_textBoxHeight_$px;

  --subheadingFont: '$_subheadingFont_$', sans-serif;
  --subheadingFontWeight: $_subheadingFontWeight_$;
  --subheadingFontSize: $_subheadingFontSize_$px;
  --subheadingColor: $_subheadingColor_$;

  --panel1_iconColor: $_panel1_iconColor_$;
  --panel2_iconColor: $_panel2_iconColor_$;
  --panel3_iconColor: $_panel3_iconColor_$;
  --panel4_iconColor: $_panel4_iconColor_$;
  --panel5_iconColor: $_panel5_iconColor_$;

  --megaPanel1_iconColor: $_megaPanel1_iconColor_$;
  --megaPanel1_imageColor: $_megaPanel1_imageColor_$;
  --megaPanel1_imageOpacity: $_megaPanel1_imageOpacity_$;

  --megaPanel2_iconColor: $_megaPanel2_iconColor_$;
  --megaPanel2_imageColor: $_megaPanel2_imageColor_$;
  --megaPanel2_imageOpacity: $_megaPanel2_imageOpacity_$;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.popup-holder {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  width: calc(var(--maxTextBoxWidth) + var(--textBoxHeight));
  height: var(--textBoxHeight);
  /* background-color: #ddd; */
}

.popup-holder * {
  position: relative;
}

.popup-content {
  width: var(--maxTextBoxWidth);
  height: var(--textBoxHeight);
  will-change: transform;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  opacity: var(--backgroundOpacity);
  transform-origin: left center;
  will-change: transform;
}

.popup-text-boxes {
  height: 100%;
}

.popup-text-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.popup-text-box__mask {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  /* outline: 1px solid red; */
}

.popup-text-box__text {
  position: absolute;
  top: 50%;
  transform-origin: left center;
}

.popup-text-box__heading {
  font-family: var(--headingFont);
  font-weight: var(--headingFontWeight);
  font-size: var(--headingFontSize);
  color: var(--headingColor);
  position: absolute;
  top: 0;
  left: 0;
  /* will-change: transform, opacity; */
}

.popup-text-box__subheading {
  font-family: var(--subheadingFont);
  font-weight: var(--subheadingFontWeight);
  font-size: var(--subheadingFontSize);
  color: var(--subheadingColor);
  position: absolute;
  top: 0;
  left: 0;
  /* will-change: transform, opacity; */
}

.popup-icons {
  position: absolute;
  top: 0;
  right: calc(var(--textBoxHeight) * -1);
  overflow: hidden;
  width: var(--textBoxHeight);
  height: var(--textBoxHeight);
}

.popup-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--textBoxHeight);
  height: var(--textBoxHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.popup-icon__background {
  position: absolute;
  opacity: var(--iconOpacity);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-icon__image {
  width: 50%;
  height: 50%;
  object-fit: scale-down;
}

.popup-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.popup-image {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform, opacity;
}

.popup-image__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-image__image {
  max-width: var(--maxImageWidth);
  max-height: var(--maxImageHeight);
  vertical-align: top;
}

.panel1 .popup-icon__background {
  background-color: var(--panel1_iconColor);
}

.panel2 .popup-icon__background {
  background-color: var(--panel2_iconColor);
}

.panel3 .popup-icon__background {
  background-color: var(--panel3_iconColor);
}

.panel4 .popup-icon__background {
  background-color: var(--panel4_iconColor);
}

.panel5 .popup-icon__background {
  background-color: var(--panel5_iconColor);
}

.megaPanel1 .popup-icon__background {
  background-color: var(--megaPanel1_iconColor);
}

.megaPanel2 .popup-icon__background {
  background-color: var(--megaPanel2_iconColor);
}

.megaPanel1 .popup-image__background {
  background-color: var(--megaPanel1_imageColor);
  opacity: var(--megaPanel1_imageOpacity);
}

.megaPanel2 .popup-image__background {
  background-color: var(--megaPanel2_imageColor);
  opacity: var(--megaPanel2_imageOpacity);
}
